.ask-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f5f7fb;

}

.ask-card{

    width:650px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.12);

}

.ask-card h1{

    text-align:center;

    color:#2563eb;

    margin-bottom:20px;

}

.ask-card h3{

    margin-bottom:5px;

}

.ask-card p{

    color:gray;

    margin-bottom:25px;

}

.ask-card input,
.ask-card textarea{

    width:100%;

    padding:12px;

    margin-bottom:18px;

    border-radius:8px;

    border:1px solid #ccc;

    box-sizing:border-box;

}

.ask-card textarea{

    resize:none;

}

.ask-card button{

    width:100%;

    padding:12px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}