body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f7fc;
}

.home{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.title{
    color:#1e3a8a;
    font-size:42px;
    margin-bottom:10px;
}

.subtitle{
    color:#666;
    margin-bottom:50px;
    font-size:18px;
}

.card-container{
    display:flex;
    gap:50px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{

    width:340px;

    background:white;

    border-radius:18px;

    padding:35px;

    box-shadow:0 10px 25px rgba(0,0,0,.12);

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}

.icon{

    font-size:60px;

}

.card h2{

    margin-top:15px;

}

.card p{

    color:#666;

    line-height:1.6;

    margin:25px 0;

}

.card button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    color:white;

    font-size:17px;

    cursor:pointer;

}

.join-btn{

    background:#2563eb;

}

.login-btn{

    background:#059669;

}

footer{

    margin-top:60px;

    color:gray;

    font-size:15px;

}