.dashboard-card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    cursor: pointer;
    transition: .3s;
}

.dashboard-card:hover {
    transform: translateY(-8px);
}

.card-icon {
    font-size: 45px;
}

.dashboard-card h2 {
    margin-top: 15px;
}

.dashboard-card p {
    color: gray;
}